* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parallax {
  /* The image used */
  background-image: url("g1.jpg");
  /* Set a specific height */
  min-height: 500px;
  height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text h1,p {
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  font-size: 30px;
  padding-top: 5%;
}

.text audio {
  margin-left: 42%;
  margin-top: 3%;
}

video {
  margin-left: 34%;
  margin-top: 30px;
}

.parallax1 {
  /* The image used */
  background-image: url("g2.jpeg");
  height: 1000px;
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
